/*-------------  CSS Reset -------------*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*-------------  HEADERS -------------*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
}

/*-------------  MAIN -------------*/

body {
  background-color: #f5f6f7;
}

#gridContainer {
  border: 1px solid black;
  width: 400px; /* Set the desired width of the grid container */
  height: 400px; /* Set the desired height of the grid container */
}

.cell {
  border: 1px solid gray;
}

/*-------------  FOOTER -------------*/

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
