/*-------------  CSS Reset -------------*/
* {
  margin: 0;
  padding: 0;
  color: #f1fbff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*-------------  CSS Reset -------------*/

body {
  background-color: #222b33;
}

.container {
  margin: 5em auto;
  display: flex;
  flex-wrap: wrap;
  /* max-height: 500px; */
  /* max-width: 400px; */
  justify-content: center;
  align-items: center;
  color: #254358;
  width: 400px;
  height: auto;
}

.grid {
  width: 25px;
  height: 25px;
  border: 1px solid #ffeccc;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
}

/*-------------  FOOTER -------------*/

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
