/*-------------  CSS Reset -------------*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*-------------  HEADERS -------------*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
}

/*-------------  MAIN -------------*/

body {
  background-color: #f5f6f7;
}

#gridContainer {
  border: 5px solid black;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.cell {
  border: 1px solid gray;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons button,
.buttons input[type="number"],
.buttons button[type="button"] {
  padding: 5px 10px;
}
/*-------------  FOOTER -------------*/

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
